.header {
    background-color: #ffd4a1;
    grid-area: header;
}
.logotype img{
    margin-top: 2px;
    width: 40px;
    height: auto;
}
.profile {
    margin-top: 14px;
}

#dropdown-basic {
    background-color: #fff;
}